In [85]:
import numpy as np
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings('ignore')

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [2]:
data=pd.read_csv(r"C:\Users\Home\Downloads\insurance.csv")

In [26]:
data

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1337 rows x 7 columns]

In [3]:
data.info() # information of dataframe,there are no nan values in the dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [4]:
data.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [5]:
data.duplicated()
data.duplicated().value_counts()

False    1337
True        1
dtype: int64

In [6]:
data[data.duplicated()] # one duplicate value in  a dataframe

     age   sex    bmi  children smoker     region    charges
581   19  male  30.59         0     no  northwest  1639.5631

In [7]:
data.drop_duplicates(inplace=True) # duplicated record is deleted  from the dataframe

In [8]:
data.info() # there are no missing values

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1337 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1337 non-null   int64
 1   sex       1337 non-null   object
 2   bmi       1337 non-null   float64
 3   children  1337 non-null   int64
 4   smoker    1337 non-null   object
 5   region    1337 non-null   object
 6   charges   1337 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 83.6+ KB

In [9]:
X=data[["age","sex","bmi","children","smoker","region"]]
y=data["charges"]

In [42]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.30,random_state=1)

In [43]:
X_train_num=X_train.select_dtypes(include=["int64","float64"])
X_train_cat=X_train.select_dtypes(include=["object"])

In [44]:
from sklearn.preprocessing import StandardScaler
classifier=StandardScaler()
X_train_num_rescaled=pd.DataFrame(classifier.fit_transform(X_train_num),
                                  columns=X_train_num.columns,
                                  index=X_train_num.index)

In [45]:
X_train_num_rescaled

           age       bmi  children
520   0.769359 -0.545848 -0.916777
575   1.341692 -0.577680 -0.916777
770   1.556317  0.918411  1.596967
314  -0.876098  0.130995 -0.916777
426  -0.089140 -0.561764 -0.078863
...        ...       ...       ...
716   0.697817 -1.341642 -0.078863
906  -0.876098  0.329524  1.596967
1097 -1.233806  0.528054 -0.916777
235   0.053943 -1.406980  0.759052
1062  1.413233  1.762790 -0.078863

[935 rows x 3 columns]

In [46]:
from sklearn.preprocessing import OneHotEncoder
encoder=OneHotEncoder(drop="first",sparse=False)
X_train_cat_encoder=pd.DataFrame(encoder.fit_transform(X_train_cat),
                                 columns=encoder.get_feature_names_out(X_train_cat.columns),
                                 index=X_train_cat.index)

In [47]:
X_train_trans=pd.concat([X_train_num_rescaled,X_train_cat_encoder],axis=1)

In [48]:
X_train_trans

,age,bmi,children,sex_male,smoker_yes,region_northwest,region_southeast,region_southwest
520,0.769359,-0.545848,-0.916777,0.0,0.0,0.0,0.0,0.0
575,1.341692,-0.577680,-0.916777,0.0,0.0,1.0,0.0,0.0
770,1.556317,0.918411,1.596967,1.0,0.0,0.0,0.0,1.0
314,-0.876098,0.130995,-0.916777,0.0,1.0,0.0,0.0,1.0
426,-0.089140,-0.561764,-0.078863,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
716,0.697817,-1.341642,-0.078863,0.0,0.0,1.0,0.0,0.0
906,-0.876098,0.329524,1.596967,1.0,0.0,0.0,0.0,0.0
1097,-1.233806,0.528054,-0.916777,1.0,0.0,0.0,1.0,0.0
235,0.053943,-1.406980,0.759052,0.0,1.0,0.0,1.0,0.0
1062,1.413233,1.762790,-0.078863,1.0,1.0,0.0,1.0,0.0

## X_TEST

In [49]:
X_test_num=X_test.select_dtypes(include=["int64","float64"])
X_test_cat=X_test.select_dtypes(include=["object"])

In [50]:
X_test_num_rescaled=pd.DataFrame(classifier.transform(X_test_num),
                                 columns=X_test_num.columns,
                                 index=X_test_num.index)

In [59]:
X_test_cat_encoder=pd.DataFrame(encoder.transform(X_test_cat),
                                 columns=encoder.get_feature_names_out(X_test_cat.columns),
                                 index=X_test_cat.index)

In [60]:
X_test_trans=pd.concat([X_test_num_rescaled,X_test_cat_encoder],axis=1)

In [61]:
X_test_trans

,age,bmi,children,sex_male,smoker_yes,region_northwest,region_southeast,region_southwest
629,0.340110,1.395887,-0.916777,0.0,1.0,1.0,0.0,0.0
1087,1.270150,0.154450,-0.916777,1.0,0.0,1.0,0.0,0.0
283,1.127067,0.297693,-0.078863,0.0,0.0,0.0,0.0,0.0
790,-0.017598,1.873363,-0.916777,0.0,0.0,0.0,1.0,0.0
594,0.125485,1.615359,-0.916777,1.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...
924,0.268568,-1.242796,-0.916777,1.0,0.0,0.0,0.0,1.0
873,0.268568,-0.086801,-0.078863,1.0,0.0,0.0,0.0,1.0
731,0.983984,-1.544359,-0.078863,1.0,0.0,0.0,0.0,1.0
363,-1.305347,-0.706682,-0.078863,0.0,0.0,0.0,0.0,1.0
10,-1.019181,-0.736839,-0.916777,1.0,0.0,0.0,0.0,0.0

# Algorithms

## LinearRegression

In [95]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(X_train_trans,y_train)

LinearRegression()

In [96]:
y_test_pred=regressor.predict(X_test_trans)

In [98]:
from sklearn import metrics
linear_abs=metrics.mean_absolute_error(y_test,y_test_pred)
linear_squr=metrics.mean_squared_error(y_test,y_test_pred)
linear_root=np.sqrt(metrics.mean_squared_error(y_test,y_test_pred))

In [99]:
linear_abs
linear_squr
linear_root

4207.799065841049

36527576.25870229

6043.804783305157

## KNN Regression

In [64]:
from sklearn.neighbors import KNeighborsRegressor
neighbor=KNeighborsRegressor()
neighbor.fit(X_train_trans,y_train)

KNeighborsRegressor()

In [65]:
y_test_pred=neighbor.predict(X_test_trans)

In [100]:
from sklearn import metrics
neighbor_abs=metrics.mean_absolute_error(y_test,y_test_pred)
neighbor_squr=metrics.mean_squared_error(y_test,y_test_pred)
neighbor_root=np.sqrt(metrics.mean_squared_error(y_test,y_test_pred))

In [101]:
neighbor_abs
neighbor_squr
neighbor_root

4207.799065841049

36527576.25870229

6043.804783305157

## Decision tree

In [110]:
from sklearn.tree import DecisionTreeRegressor
tree=DecisionTreeRegressor()
tree.fit(X_train_trans,y_train)

DecisionTreeRegressor()

In [111]:
y_test_pred=tree.predict(X_test_trans)

In [112]:
from sklearn import metrics
tree_abs=metrics.mean_absolute_error(y_test,y_test_pred)
tree_squr=metrics.mean_squared_error(y_test,y_test_pred)
tree_root=np.sqrt(metrics.mean_squared_error(y_test,y_test_pred))

In [113]:
tree_abs
tree_squr
tree_root

3289.286234154229

46698227.35389911

6833.610125980199

## Ensemble

### Randomforest

In [106]:
from sklearn.ensemble import RandomForestRegressor
random_forest=RandomForestRegressor()
random_forest.fit(X_train_trans,y_train)

RandomForestRegressor()

In [107]:
y_test_pred=random_forest.predict(X_test_trans)

In [108]:
from sklearn import metrics
random_abs=metrics.mean_absolute_error(y_test,y_test_pred)
random_squr=metrics.mean_squared_error(y_test,y_test_pred)
random_root=np.sqrt(metrics.mean_squared_error(y_test,y_test_pred))

In [109]:
random_abs
random_squr
random_root

2741.8995435299503

22998829.347327705

4795.709472781656

### Ada boost

In [119]:
from sklearn.ensemble import AdaBoostRegressor
ada_boost=AdaBoostRegressor()
ada_boost.fit(X_train_trans,y_train)

AdaBoostRegressor()

In [120]:
y_test_pred=ada_boost.predict(X_test_trans)

In [123]:
from sklearn import metrics
ada_abs=metrics.mean_absolute_error(y_test,y_test_pred)
ada_squr=metrics.mean_squared_error(y_test,y_test_pred)
ada_root=np.sqrt(metrics.mean_squared_error(y_test,y_test_pred))

In [124]:
ada_abs
ada_squr
ada_root

3815.4593139069034

24865518.201550167

4986.533685993725

### XG boost

In [127]:
from sklearn.ensemble import GradientBoostingRegressor
gradient_boost=GradientBoostingRegressor()
gradient_boost.fit(X_train_trans,y_train)

GradientBoostingRegressor()

In [128]:
y_test_pred=gradient_boost.predict(X_test_trans)

In [129]:
from sklearn import metrics
gra_abs=metrics.mean_absolute_error(y_test,y_test_pred)
gra_squr=metrics.mean_squared_error(y_test,y_test_pred)
gra_root=np.sqrt(metrics.mean_squared_error(y_test,y_test_pred))

In [130]:
gra_abs
gra_squr
gra_root

2437.4120358240643

19596925.921596643

4426.841528855155

In [139]:
data_df=pd.DataFrame({"Algorithms":["Linearregression","KNN","Decisontree","Randomforest","Adaboost","Gradient"],
    "mean_absolute":[linear_abs,neighbor_abs,tree_abs,random_abs,ada_abs,gra_abs],
                     "mean_square":[linear_squr,neighbor_squr,tree_squr,random_squr,ada_squr,gra_squr],
                     "mean_root_square":[linear_root,neighbor_root,tree_root,random_root,ada_root,gra_root]})

In [140]:
data_df

         Algorithms  mean_absolute   mean_square  mean_root_square
0  Linearregression    4207.799066  3.652758e+07       6043.804783
1               KNN    4207.799066  3.652758e+07       6043.804783
2       Decisontree    3289.286234  4.669823e+07       6833.610126
3      Randomforest    2741.899544  2.299883e+07       4795.709473
4          Adaboost    3815.459314  2.486552e+07       4986.533686
5          Gradient    2437.412036  1.959693e+07       4426.841529

# conclusion

gradient boost regression algorithm looks that it has low absolute error compare  to all the algorithms